body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Inter, sans-serif;
}
.upbar {
    background-color: #2f2f2f;
    height: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
    height: 7vh;
    margin: 1.5vh;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2vh;
}
.name {
    color:#d3d3d3;
    font-size:5.5vh;
    font-weight:400;
    margin-left: 1.5vh;
}
.datetime {
    color:#b2babc;
    font-size:4vh;
    font-weight:400;
}
.patro-number {
    border: 1.5px solid black;
    height: 6vh;
    width: 6vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    font-weight: 700;
}
.patro {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
    background-color: transparent;
    border: 1px solid white;
    font-size: 4vh;
    cursor: pointer;
}
.menu {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    justify-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background-color: #2f2f2f;
}
.teachers {
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.teachers::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.teachers tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teachers td {
    width: 25vw;
    height: 7vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #d9d9d9;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}

.classes {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.classes tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.classes td {
    width: 20vw;
    height: 7vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #d9d9d9;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}
.ucebny-table  {
    display: flex;
    flex-direction: column-reverse;
}
.ucebny-table tr {
    display: flex;
    flex-direction: row;
}
.ucebny-table td {
    width: 3vw;
    min-width: 35px;
    height: 4vh;
    margin: 0.5vw;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #d9d9d9;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}
.dilny-table {
    display: flex;
    flex-direction: column;
}
.dilny-table tr {
    display: flex;
    flex-direction: row;
}
.dilny-table td {
    width: 3vw;
    min-width: 35px;
    height: 4vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #d9d9d9;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}
.rooms-ucebny {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 80vh;
}
.rooms-dilny {
    display: flex;
    width: 20vw;
    height: 80vh;
    flex-direction: column;
}
.rooms-other {
    display: flex;
    width: 20vw;
    height: 80vh; 
}
.rooms-name {
    color: #d9d9d9;
    font-size: 4vh;
}
.menu-name {
    color: #d24b49;
    height: 80%;
    font-size: 7vh;
    display: none;
}
.downbar {
    background-color: #2f2f2f;
    height: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.burger-button {
    display: flex;
    height: 8vh;
    margin: 1vh;
}
.downbar-buttons {
    display: none;
}
.downbar-button {
    display: flex;
    height: 7vh;
    margin: 0.8vh;
    cursor: pointer;
}
.logo-button {
    display: flex;
    height: 8vh;
    margin: 1vh;
}
.coming-soon {
    display: none;
    position: absolute;
    width: 40vw;
    left: 30vw;
    height: 30vh;
    bottom: 35vh;
    background-color: #2f2f2f;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5pc;
    font-size: 8vh;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.coming-soon button {
    width: 25vw;
    height: 7vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    background-color: #d9d9d9;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
}
#teachers {
    display: none;
}
#classes {
    display: none;
}
#rooms {
    display: none;
}

/*desktop*/
@media (min-width: 1025px) { /*1024px*/
    .burger-button {
        display: none;
    }
    .downbar-buttons {
        display: flex;
        flex-direction: row;
    }
    .map-static {
        display: flex;
        margin-top: 8vh;
        margin-bottom: 8vh;
        align-items: center;
    }

    .map-scrollable {
        display: none;
    }
    
    .center-container {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 80vh;
        flex-direction: row;
    }
    .patra-container {
        width: 30vh;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10vh;
    }
    .sub-nav-mobile {
        display: none;
    }
}

/*mobile*/
@media (max-width: 1024px) and (min-width: 760px) {
    .burger-button {
        display: none;
    }
    .downbar-buttons {
        display: flex;
        flex-direction: row;
    }
    .map-static {
        display: none;
    }
    .center-container {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 80vh;
        flex-direction: column;
    }
    .patra-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .patra-numbers {
        display: flex;
        flex-direction: row;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .ucebny-table {
        overflow-x: scroll;
    }
    .ucebny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 42px;
    }
    .dilny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 42px;
    }
    .rooms-ucebny {
        width: 100vw;
        height: 40vh;
    }
    .rooms-dilny {
        width: 100vw;
        height: 20vh;
    }
    .rooms-other {
        width: 100vw;
        height: 20vh;
    }
    .dilny-table {
        overflow-x: scroll;
        flex-direction: row;
    }
    .dilny-table tr {
        flex-direction: column;
    }
    .mobile {
        display: none;
    }
    .sub-nav-mobile {
        display: none;
    }
}

/*mobile-small*/
@media (max-width: 759px) {
    .name {
        color:#d3d3d3;
        font-size:3.5vh;
        font-weight:400;
    }
    .datetime {
        display: none;
    }
    .map-static {
        display: none;
    }
    .teachers tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .teachers td {
        width: 40vw;
    }
    .center-container {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 80vh;
        flex-direction: column;
    }
    .patra-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .patra-numbers {
        display: flex;
        flex-direction: row;
    }
    .menu {
        flex-direction: column;
    }
    .ucebny-table {
        overflow-x: scroll;
    }
    .ucebny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 50px;
    }
    .dilny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 50px;
    }
    .rooms-ucebny {
        width: 100vw;
        height: 40vh;
    }
    .rooms-dilny {
        width: 100vw;
        height: 20vh;
    }
    .rooms-other {
        width: 100vw;
        height: 20vh;
    }
    .dilny-table {
        overflow-x: scroll;
        flex-direction: row;
    }
    .dilny-table tr {
        flex-direction: column;
    }
    .mobile {
        display: none;
    }
    .spacer {
        display: none;
    }
    @keyframes slideInUp {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes slideOutDown {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(100%);
        }
    }
    .sub-nav-mobile {
        display: none;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 10vh;
        background-color: #2f2f2f;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 0.5pc;
        border-top-right-radius: 0.5pc;
    }

    .animate-slideInUp {
        animation: slideInUp 0.5s ease-out forwards;
    }
    .animate-slideOutDown {
        animation: slideOutDown 0.5s ease-out forwards;
    }   
}