body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Inter, sans-serif;
    user-select: none;
}
/* scrollbar zamýšlený pro mapu */
::-webkit-scrollbar {
    width: 1.5vh; /* Width of the scrollbar */
    height: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background: #d9d9d9; /* Color of the scrollbar thumb */
    border-radius: 1vh; /* Rounded corners for the scrollbar thumb */
}
::-webkit-scrollbar-thumb:hover {
    background: #b2babc;
}
.upbar {
    background-color: #2f2f2f;
    height: 10vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}
.locationForm {
    display: none;
    flex-direction: column;
    color: #d9d9d9;
    width: 40vw;
    font-size: 2.5vh;
}
.roomInput {
    display: none;
    margin: 1vh;
    border-radius: 3vh;
    width: 25vw;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
    background-color: #d9d9d9;
    font-family: Inter, sans-serif;
    border: none;
    height: 5vh;
}
.close-button {
    display: none;
    height: 7vh;
    margin: 1vh;
    cursor: pointer;
}
.close-pdf {
    display: none;
    height: 7vh;
    margin: 1vh;
    cursor: pointer;
}
.close-timetable {
    display: none;
    height: 7vh;
    margin: 1vh;
    cursor: pointer;
}
.info {
    display: flex;
    width: 20vw;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.name {
    color:#d3d3d3;
    font-size:5.5vh;
    font-weight:550;
    margin-left: 1.5vh;
    display: flex;
}
.datetime {
    color:#b2babc;
    font-size:4vh;
    font-weight:400;
}
.center-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.map {
    width: 85vw;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    overflow: auto;
    justify-content: center;
}
.map-content {
    display: none;
    overflow: auto;
    width: 70vw;
    margin-top: 1vh;
    transform-origin: 0 0; /* Set the origin for scaling */
    transform: scale(1); /* Default scale */
}
.zoom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0vh;
    margin-bottom: 1vh;
}
.zoom-mobile {
    display: flex;
}
.zoom button {
    background-color: white;
    font-size: 4vh;
    border-radius: 0.8vh;
    margin: 0.5vh;
    cursor: pointer;
}
.zoom-mobile div {
    display: flex;
    justify-content: center;
    color: #d9d9d9;
    background-color: transparent;
    font-size: 4vh;
    border-style: solid;
    border-radius: 0.8vh;
    border-color: #d9d9d9;
    margin: 0.5vh;
    cursor: pointer;
}
.patradilny {
    display: flex;
    flex-direction: column;
}
.patra {
    display: flex;
    flex-direction: column;
}

.patra-container {
    width: 15vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.patro-number {
    border: 1.5px solid;
    height: 6vh;
    width: 6vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    font-weight: 700;
    margin-right: 1vh;
}
.patro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.6vh;
    background-color: transparent;
    border: 1px solid white;
    font-size: 4vh;
    cursor: pointer;
    /* min-width: 260px; */
    width: 14vw;
}
.usedfloor {
    display: none;
    height: 1.2vh;
    width: 1.2vh; 
    background-color: #d24b49;
    border-radius: 1vh;
    margin: 2.6vh;
    margin-left: 0;
    margin-right: 0.8vh;
}
.selected {
    background-color: #2f2f2f;
    color: #d9d9d9;
    border-radius: 1vh;
    /* min-width: 260px; */
    width: 14vw;
    
}
.menu {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    justify-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background-color: #2f2f2f;
}
.documents{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    overflow: auto;
}
.documents-name{
    color: #d9d9d9;
    font-size: 4vh;
}
.timetable-name{
    color: #d9d9d9;
    font-size: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.timetable-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    color: black;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    margin: 0.5vh;
    font-size: 2.5vh;
    cursor: pointer;
    padding-left: 1vw;
    padding-right: 1vw  ;
}
.timetable-state.active {
    background-color: #2f2f2f;
    color: #d9d9d9;
    border-color: #d9d9d9;
    border-width: 0.25vh;
    border-style: solid;
}
.timetable {
    display: grid;
    width: -webkit-fill-available;
    border-color: #d9d9d9;
    border-width: 0.125vh;
    border-style: solid;
}
.timetable tr {
    display: flex;
    flex-direction: row;
    height: 14vh;
}
.timetable td {
    width: -webkit-fill-available;
    border-color: #d9d9d9;
    border-width: 0.125vh;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #d9d9d9;
    font-size: 2vh;
    overflow: auto;
}

.timetable td::-webkit-scrollbar {
    width: 0.6vw;
}

.upper-div {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
}
.upper-right-div {
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
    margin-right: 0.5vw;
}
.center-div {
    font-size: 3vh;
}
.group-div {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.25vh;
    border-bottom-color: #d9d9d9;
}
.timetable-numbers {
    width: 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d9d9d9;
}
.timetable-day {
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d9d9d9;
    height: -webkit-fill-available;
    font-size: 2.5vh;
}
.documents-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4vh;
}
.documents-item{
    width: fit-content;
    height: 4vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin: 0.25vw;
    margin-top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    cursor: pointer;
}
.teachers {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
    justify-items: center;
    padding-left: 7vw;
    padding-right: 7vw;
}

.teachers td {
    width: 20vw;
    height: 7vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    cursor: pointer;
}

.teachers-spacer {
    display: none;
}

.classes {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.classes tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.classes td {
    width: 20vw;
    height: 7vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    cursor: pointer;
}
.ucebny-table  {
    display: flex;
    flex-direction: column-reverse;
}
.ucebny-table tr {
    display: flex;
    flex-direction: row;
}
.ucebny-table td {
    width: 3vw;
    min-width: 35px;
    height: 4vh;
    margin: 0.5vw;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    cursor: pointer;
}
.dilny-table {
    display: flex;
    flex-direction: column;
}
.dilny-table tr {
    display: flex;
    flex-direction: row;
}
.dilny-table td {
    width: 3vw;
    min-width: 35px;
    height: 4vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    cursor: pointer;
}
.other-table  {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.other-table tr {
    display: flex;
    flex-direction: row;
}
.other-table td {
    width:fit-content;
    height: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0.5vw;
    margin-top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    cursor: pointer;
}
.rooms-ucebny {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 80vh;
}
.rooms-dilny {
    display: flex;
    width: 20vw;
    height: 80vh;
    flex-direction: column;
}
.rooms-other {
    display: flex;
    width: 20vw;
    height: 80vh;
    flex-direction: column;
}
.rooms-name {
    color: #d9d9d9;
    font-size: 4vh;
}
.menu-name {
    color: #d24b49;
    height: 80%;
    font-size: 7vh;
    display: none;
}
.select-window {
    display: none;
    position: absolute;
    padding: 1vh;
    /*width: 50vw;*/
    /*height: 40vh;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: fit-content;
    min-width: 20vw;
    background-color: #2f2f2f;
    z-index: 4;
    flex-direction: column;
    border-radius: 2vh;
    color: white;
    font-size: 3vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
#darken {
    display: none;
    position: absolute;
    width: 100vw;
    left: 0;
    height: 100vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.classes-groups {
    display: flex;
    flex-direction: row;
}

.classes-groups li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    min-width: 40px;
    height: 3vh;
    color: black;
    background-color: #d9d9d9;
    border-radius: 2.5vh;
    margin: 0.5vh;
    font-size: 2.5vh;
    cursor: pointer;
}

.classes-groups li.active {
    background-color: #2f2f2f;
    color: #d9d9d9;
    border-color: #d9d9d9;
    border-width: 0.25vh;
    border-style: solid;
}

.window-top {
    display: flex;
    color: #d24b49;
    font-size: 7vh;
    justify-content: space-between;
    flex-direction: row;
}

.window-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.window-button {
    display: flex;
    height: 7vh;
    margin: 0.8vh;
    cursor: pointer;
}

.downbar {
    background-color: #2f2f2f;
    height: 10vh;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.burger-button {
    display: none;
    height: 8vh;
    margin: 1vh;
}
.downbar-buttons {
    display: flex;
    flex-direction: row;
    overflow-y: clip;
}
.sub-nav-mobile {
    display: none;
}
.downbar-button {
    display: flex;
    height: 7vh;
    margin: 0.8vh;
    cursor: pointer;
}
.logo-button {
    display: flex;
    height: 8vh;
    margin: 1vh;
}
.logo-button-mobile {
    display: none;
    height: 8vh;
    margin: 1vh;
}
.coming-soon {
    display: none;
    position: absolute;
    width: 30vw;
    left: 35vw;
    height: 30vh;
    bottom: 35vh;
    background-color: #2f2f2f;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5pc;
    font-size: 7vh;
    color: white;
    padding: 1vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.credits {
    display: none;
    justify-content: space-between;
    position: absolute;
    width: 40vw;
    left: 30vw;
    height: 50vh;
    bottom: 25vh;
    background-color: #2f2f2f;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5pc;
    font-size: 7vh;
    color: white;
    padding: 1vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.credits button {
    width: 25vw;
    height: 7vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    background-color: #d9d9d9;
    border-radius: 2vh;
    cursor: pointer;
}
.QR-window {
    display: none;
    position: absolute;
    width: 12vw;
    left: 44vw;
    /* height: 25vh; */
    bottom: 35vh;
    background-color: #2f2f2f;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5pc;
    font-size: 7vh;
    color: white;
    padding: 1vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.location-window {
    display: none;
    position: absolute;
    width: 70vw;
    left: 15vw;
    height: 25vh;
    bottom: 35vh;
    background-color: #2f2f2f;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5pc;
    font-size: 5vh;
    color: white;
    padding: 1vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.coming-soon button {
    width: 25vw;
    height: 7vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    background-color: #d9d9d9;
    border-radius: 2vh;
    cursor: pointer;
}
.QR-window button {
    width: 10vw;
    height: 5vh;
    margin: 1vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    background-color: #d9d9d9;
    border-radius: 2vh;
    cursor: pointer;
}
.route-options {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 2.5vh;
}
.routeButton {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 5vh;
    width: 14vw;
    border-radius: 4vh;
    cursor: pointer;
    margin-top: 0.3vh;
    background-color: #ff5552;
}
.QrButton {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 5vh;
    width: 14vw;
    border-radius: 4vh;
    cursor: pointer;
    margin-top: 0.3vh;
    background-color: #826bff;
}

#documents {
    display: none;
}
#pdf-viewer {
    display: none;
}
#timetable-viewer {
    display: none;
}
#teachers {
    display: none;
}
#classes {
    display: none;
}
#rooms {
    display: none;
}

/*desktop*/
@media (min-width: 1025px) { /*1024px*/
    .other-table tr {
        flex-direction: column;
    }
    .zoom-mobile {
        display: none;
    }
    
}

/*mobile*/
@media (max-width: 1024px) and (min-width: 760px) {
    .teachers {
        grid-template-columns: repeat(2, 1fr);
    }
    .center-container {
        justify-content: flex-start;
        flex-direction: column;
    }
    .map {
        width: 98vw;
        height: 59vh;
        overflow: auto;
    }
    .map-content {
        flex-direction: column;
        margin: 1vh;
    }
    .patra-container {
        width: auto;
        flex-direction: row;
        align-self: center;
    }
    .patradilny {
        flex-direction: row;
    }
    .patra {
        margin-right: 5vw;
    }
    .patra-buttons {
        display: flex;
        flex-direction: row;
    }
    .patro {
        display: flex;
        width: auto;
        min-width: 0px;
    }
    .patro-name {
        display: none;
    }
    .selected {
        width: 8vh;
        min-width: 8vh;
    }
    .menu {
        flex-direction: column;
    }
    .teachers td {
        width: 40vw;
    }
    .ucebny-table {
        overflow-x: scroll;
    }
    .ucebny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 42px;
    }
    .dilny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 42px;
    }
    .rooms-ucebny {
        width: 100vw;
        height: 40vh;
    }
    .rooms-dilny {
        width: 100vw;
        height: 20vh;
    }
    .rooms-other {
        width: 100vw;
        height: 20vh;
    }
    .dilny-table {
        overflow-x: scroll;
        flex-direction: row;
    }
    .dilny-table tr {
        flex-direction: column;
    }
    #DocumentsButton {
        display: none;
    }
    .QRcode {
        display: none;
    }
    .rozvrh-button {
        display: none;
    }
    .zoom-mobile {
        display: none;
    }
}

/*mobile-small*/
@media (max-width: 759px) {
    .roomInput {
        display: block;
    }
    .locationForm {
        display: flex;
        align-items: center;
    }
    .downbar {
        position: absolute;
        width: 100vw;
        bottom: 0vh;
    }
    .downbar-buttons {
        display: none;
    }
    .downbar-button {
        margin: 0;
    }
    .burger-button {
        display: flex;
    }
    .name {
        color:#d3d3d3;
        font-size:3.5vh;
        font-weight:400;
    }
    .datetime {
        display: none;
    }
    .map {
        height: 38vh;
        width: 100vw;
        overflow: auto;
        position: absolute;
        top: 10vh;
    }
    .map-content {
        transform-origin: 0 0; /* Set the origin for scaling */
        transform: scale(3); /* Default scale */
    }
    .teachers {
        grid-template-columns: repeat(1, 1fr);
    }
    .teachers td {
        margin: auto;
        margin-top: 1.5vh;
        margin-bottom: 1vh;
        width: 60vw;
    }
    .teachers-spacer {
        display: block;
        height: 10vh;
    }
    .center-container {
        bottom: 10vh;
        justify-content: flex-start;
        flex-direction: column;
    }
    .route-options {
        flex-direction: row;
        justify-content: flex-start;
    }
    .routeButton {
        width: 30vw;
        margin: 0.5vh;
    }
    .patra-container {
        width: auto;
        height: auto;
        align-self: center;
        position: absolute;
        bottom: 0vh;
    }
    .patra {
        margin-right: 5vw;
    }
    .patra-buttons {
        display: flex;
        flex-direction: row;
    }
    .patro {
        display: flex;
        width: auto;
        min-width: 0px;
        flex-direction: column;
        align-items: center;
    }
    .patro-name {
        display: none;
    }
    .menu {
        flex-direction: column;
    }
    .ucebny-table {
        overflow-x: scroll;
    }
    .ucebny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 50px;
    }
    .dilny-table td {
        margin: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 5vw;
        min-width: 50px;
    }
    .rooms-ucebny {
        width: 100vw;
        height: 40vh;
    }
    .rooms-dilny {
        width: 100vw;
        height: 20vh;
    }
    .rooms-other {
        width: 100vw;
        height: 20vh;
    }
    .other-table td {
        min-width:fit-content;
        height: 3vh;
    }
    .dilny-table {
        overflow-x: scroll;
        flex-direction: row;
    }
    .dilny-table tr {
        flex-direction: column;
    }
    .spacer {
        display: none;
    }
    @keyframes slideInUp {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes slideOutDown {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(100%);
        }
    }
    .sub-nav-mobile {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 10vh;
        background-color: #2f2f2f;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 0.5pc;
        border-top-right-radius: 0.5pc;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }

    .animate-slideInUp {
        animation: slideInUp 0.5s ease-out forwards;
    }
    .animate-slideOutDown {
        animation: slideOutDown 0.5s ease-out forwards;
    }   
    .coming-soon {
        width: 40vw;
        left: 30vw;
        font-size: 4vh;
        overflow: hidden;
    }
    .QRcode {
        display: none;
    }
    #DocumentsButton {
        display: none;
    }
    .rozvrh-button {
        display: none;
    }
    .QrButton {
        display: none;
    }
    .zoom {
        display: none;
    }
    .patro-number {
        margin-right: 0;
        height: 5vh;
        width: 5vh;
    }
    .usedfloor {
        height: 0.5vh;
        width: 3.2vh;
        margin: 0.5vh;
    }
    .logo-button {
        display: none;
    }
    .logo-button-mobile {
        display: flex;
    }
}