<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!--pro live server-->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>DuklaMaps</title>
</head>
<body>
    <nav class="upbar">
        <!-- <a class="buttons" href="#home"><img src="../static/assets/InfoButton.svg"></a> -->
        <a class="close-button" style="width: 20vw;" id="close-button" onclick="closeMenu()"><img src="../static/assets/ExitButton.svg"></a>
        <h1 class="name" id="name">DuklaMaps</h1>
        
        <div class="menu-name" id="teachers-name">Učitelé</div>
        <div class="menu-name" id="classes-name">Třídy</div>
        <div class="menu-name" id="rooms-name">Místnosti</div>
        
        <div class = "info">
            <h2 style="margin-right: 1.5vw;" id="time" class="datetime"></h2>
            <h2 style="margin-right: 1.5vw;" id="date" class="datetime"></h2>
        </div>
    </nav>

    <div>     
        <div class="center-container" id="center-container">
            <div>
                <div class="map">
                    <div id="patro0" class="map-content">
                        <embed src="../static/assets/mapa/patro0.svg" type="image/svg+xml">
                    </div>
                    <div id="patro1" class="map-content" style="display: block;">
                        <embed src="../static/assets/mapa/patro1.svg" type="image/svg+xml">
                    </div>
                    <div id="patro2" class="map-content">
                        <embed src="../static/assets/mapa/patro2.svg" type="image/svg+xml">
                    </div>
                    <div id="patro3" class="map-content">
                        <embed src="../static/assets/mapa/patro3.svg" type="image/svg+xml">
                    </div>
                    <div id="patro4" class="map-content">
                        <embed src="../static/assets/mapa/patro4.svg" type="image/svg+xml">
                    </div>
                    <div id="patro5" class="map-content">
                        <embed src="../static/assets/mapa/dilny1.svg" type="image/svg+xml">
                    </div>
                    <div id="patro6" class="map-content">
                        <embed src="../static/assets/mapa/dilny2.svg" type="image/svg+xml">
                    </div>
                </div>
                <div class="zoom">
                    <button style="height: 5vh; width: 5vh;" onclick="zoom('+')">+</button>
                    <button style="height: 5vh; width: 5vh;" onclick="zoom('-')">-</button>
                </div>
            </div>
            <!-- 
            0 - 3. patro
            1 - 2. patro
            2 - 1. patro
            3 - přízemí
            4 - šatny
            5 - dílny 1. patro
            6 - dílny 0. patro
            -->

            <div class="patra-container">
                <div class="patra">
                    <h1 style="font-size: 4.5vh; margin-bottom: 0vh; margin-top: 0vh;">Patra:</h1>
                    <div class="patra-buttons">
                        <button onclick="showFloor(0)" class="patro">
                            <div class="patro-number">3</div>
                            <div style="width: 1vh;"></div> <!-- Menší mezera -->
                            <div class="patro-name">patro</div>
                        </button>
                        <button onclick="showFloor(1)" class="patro">
                            <div class="patro-number">2</div>
                            <div style="width: 1vh;"></div> <!-- Menší mezera -->
                            <div class="patro-name">patro</div>
                        </button>
                        <button onclick="showFloor(2)" class="patro">
                            <div class="patro-number">1</div>
                            <div style="width: 1vh;"></div> <!-- Menší mezera -->
                            <div class="patro-name">patro</div>
                        </button>
                        <button onclick="showFloor(3)" class="patro selected">
                            <div class="patro-number">0</div>
                            <div style="width: 1vh;"></div> <!-- Menší mezera -->
                            <div class="patro-name">přízemí</div>
                        </button>
                        <button onclick="showFloor(4)" class="patro">
                            <div class="patro-number">-1</div>
                            <div style="width: 1vh;"></div> <!-- Menší mezera -->
                            <div class="patro-name">šatny</div>
                        </button>
                    </div>                    
                </div>
                <div class="patra">
                    <h1 style="font-size: 4.5vh; margin-bottom: 0vh; margin-top: 0vh;">Dílny:</h1>
                    <div class="patra-buttons">
                    <button onclick="showFloor(5)" class="patro">
                        <div class="patro-number">1</div>
                        <div style="width: 1vh;"></div> <!-- Menší mezera -->
                        <div class="patro-name">patro</div>
                    </button>
                    <button onclick="showFloor(6)" class="patro">
                        <div class="patro-number">0</div>
                        <div style="width: 1vh;"></div> <!-- Menší mezera -->
                        <div class="patro-name">přízemí</div>
                    </button>
                    </div>
                </div>
            </div>
        </div>

        <!--teachers-->
        <div class="menu" id="teachers">
            <div class="teachers" id="teachersTable"></div>
        </div>

        <!--classes-->
        <div class="menu" id="classes" style="align-items: center;">
            <table class="classes" id="classesTable"></table>
        </div>

        <!--rooms-->
        <div class="menu" id="rooms">
            <div class="rooms-ucebny">
                <div class="rooms-name">Učebny</div>
                <table class="ucebny-table" id="ucebnyTable"></table>
            </div>
            <div class="rooms-dilny">
                <div class="rooms-name">Dílny</div>
                <table class="dilny-table" id="dilnyTable"></table>
            </div>
            <div class="rooms-other">
                <div class="rooms-name">Ostatní</div>
            </div>
        </div>

        <div class="sub-nav-mobile">
            <a class="downbar-button" style="margin-top: 1.6vh;" onclick="showMenu('teachers')"><img src="../static/assets/TeachersButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('classes')"><img src="../static/assets/ClassesButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('rooms')"><img src="../static/assets/RoomsButton.svg"></a>
        </div>

        <!--teacher window-->
        <div class="select-window" id="teacher-window">
            <div class="window-top">
                <div id="teacher-name"></div>
                <div class="close-button" style="display: flex;" onclick="closeTeacherWindow()"><img src="../static/assets/ExitButton.svg"></div>
            </div>
            <div class="window-info" id="teacher-actual"></div>
            <div class="window-info" id="teacher-room-name"></div>
            <div class="window-content">
                <a class="window-button"><img src="../static/assets/ucebnaButton.svg"></a>
                <a class="window-button"><img src="../static/assets/cabinetButton.svg"></a>
                <a class="window-button"><img src="../static/assets/timetableButton.svg"></a>
            </div>
        </div>

        <!--class window-->
        <div class="select-window" id="class-window">
            <div class="window-top">
                <div id="class-name"></div>
                <div class="close-button" style="display: flex;" onclick="closeClassWindow()"><img src="../static/assets/ExitButton.svg"></div>
            </div>
            <div class="classes-groups" id="groupsSelector">
            </div>
            <div class="window-info" id="class-actual"></div>
            <div class="window-info" id="class-room-name"></div>
            <div class="window-content">
                <a class="window-button"><img src="../static/assets/ucebnaButton.svg"></a>
                <a class="window-button"><img src="../static/assets/kmenovaButton.svg"></a>
                <a class="window-button"><img src="../static/assets/timetableButton.svg"></a>
                <a class="window-button"><img src="../static/assets/satnaButton.svg"></a>
            </div>
        </div>

        <!--room window-->
        <div class="select-window" id="room-window">
            <div class="window-top">
                <div id="room-name"></div>
                <div class="close-button" style="display: flex;" onclick="closeRoomWindow()"><img src="../static/assets/ExitButton.svg"></div>
            </div>
            <div class="window-info" id="room-actual"></div>
            <div class="window-content">
                <a class="window-button"><img src="../static/assets/ucebnaButton.svg"></a>
                <a class="window-button"><img src="../static/assets/timetableButton.svg"></a>
            </div>
        </div>
        
        <div id="darken" onclick="closeTeacherWindow(), closeClassWindow(), closeRoomWindow()"></div>

        <div class="coming-soon">
            Coming soon
            <button onclick="closeComingSoon()">OK</button>
        </div>
    </div>

    <nav class="downbar">
        <div class="spacer" style="width: 10vh;"></div> <!--prázdný div pro zarovnání tlačítek uprostřed -->
        <!-- <a class="downbar-button" style="width: 8vh;" onclick="showMenu('documents')"><img src="../static/assets/DocumentsButton.svg"></a> -->
        <div class="downbar-buttons">
            <a class="downbar-button" onclick="showMenu('teachers')"><img src="../static/assets/TeachersButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('classes')"><img src="../static/assets/ClassesButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('rooms')"><img src="../static/assets/RoomsButton.svg"></a>
        </div>
        <a class="burger-button" id="burger-button" href="#home"><img src="../static/assets/hamburger.svg"></a>
        <a class="logo-button" onclick="comingSoon()"><img src="../static/assets/CreditsButton.svg"></a>
    </nav>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--pro live server-->
    <script src="../static/script.js"></script>
</body>
</html>