<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Mapa</title>
</head>
<body>
    <nav class="upbar">
        <div class = "info">
            <!-- <a class="buttons" href="#home"><img src="../static/assets/timetable/InfoButton.svg"></a> -->
            <h1 class="name">Mapa SPŠSE</h1>
        </div>
        
        <div class="menu-name" id="teachers-name">Učitelé</div>
        <div class="menu-name" id="classes-name">Třídy</div>
        <div class="menu-name" id="rooms-name">Místnosti</div>
        
        <div class = "info">
            <h2 style="margin-right: 1.5vw;" id="time" class="datetime"></h2>
            <h2 style="margin-right: 1.5vw;" id="date" class="datetime"></h2>
            <a class="buttons" href="#home"><img src="../static/assets/timetable/RefreshButton.svg"></a>
        </div>
    </nav>

    <div>        
        <div class="center-container" id="center-container">
            <div class="map-static">
                <div id="patro0" style="display: none;">
                    <img src="../static/assets/mapa/patro0.jpg" style="width: 100vh;">
                </div>
                <div id="patro1" style="display: block;">
                    <img src="../static/assets/mapa/patro1.jpg" style="width: 100vh;">
                </div>
                <div id="patro2" style="display: none;">
                    <img src="../static/assets/mapa/patro2.jpg" style="width: 100vh;">
                </div>
                <div id="patro3" style="display: none;">
                    <embed src="../static/assets/mapa.svg" type="image/svg+xml" style="width: 100vh;">
                </div>
                <div id="patro4" style="display: none;">
                    <embed src="../static/assets/mapa.svg" type="image/svg+xml" style="width: 100vh;">
                </div>
            </div>

            <div class="map-scrollable" style="width:90%;height:90%;overflow-x: scroll; overflow-y: scroll; margin: 5%;">
                <embed src="../static/assets/mapa.svg" type="image/svg+xml" style="min-width: 1000px;">
            </div>

            <div class="patra-container">
                <h1 style="font-size: 4.5vh; margin-bottom: 2vh; margin-top: 0;">Patra:</h1>
                <div class="patra-numbers">
                    <button onclick="showFloor(4)" class="patro">
                        <div class="patro-number">3</div>
                        <div style="width: 1vh;"></div> <!-- Menší mezera -->
                        <div class="mobile">patro</div>
                    </button>
                    <button onclick="showFloor(3)" class="patro">
                        <div class="patro-number">2</div>
                        <div style="width: 1vh;"></div> <!-- Menší mezera -->
                        <div class="mobile">patro</div>
                    </button>
                    <button onclick="showFloor(2)" class="patro">
                        <div class="patro-number">1</div>
                        <div style="width: 1vh;"></div> <!-- Menší mezera -->
                        <div class="mobile">patro</div>
                    </button>
                    <button onclick="showFloor(1)" class="patro">
                        <div class="patro-number">0</div>
                        <div style="width: 1vh;"></div> <!-- Menší mezera -->
                        <div class="mobile">přízemí</div>
                    </button>
                    <button onclick="showFloor(0)" class="patro">
                        <div class="patro-number">-1</div>
                        <div style="width: 1vh;"></div> <!-- Menší mezera -->
                        <div class="mobile">šatny</div>
                    </button>
                </div>
                <div class="mobile" style="height: 12vh;"> </div> <!--div pro srovnání -->
            </div>
        </div>

        <!--teachers-->
        <div class="menu" id="teachers">
            teachers
        </div>

        <!--classes-->
        <div class="menu" id="classes">
            classes
        </div>

        <!--rooms-->
        <div class="menu" id="rooms">
            rooms
        </div>

        <div class="sub-nav-mobile">
            <a class="downbar-button" onclick="showMenu('teachers')"><img src="../static/assets/timetable/TeachersButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('classes')"><img src="../static/assets/timetable/ClassesButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('rooms')"><img src="../static/assets/timetable/RoomsButton.svg"></a>
        </div>
    </div>

    <nav class="downbar">
        <div class="spacer" style="width: 10vh;"></div> <!--prázdný div pro zarovnání tlačítek uprostřed -->
        <div class="downbar-buttons">
            <a class="downbar-button" onclick="showMenu('teachers')"><img src="../static/assets/timetable/TeachersButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('classes')"><img src="../static/assets/timetable/ClassesButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('rooms')"><img src="../static/assets/timetable/RoomsButton.svg"></a>
        </div>
        <a class="burger-button" id="burger-button" href="#home"><img src="../static/assets/hamburger.svg"></a>
        <a class="logo-button" href="#home"><img src="../static/assets/timetable/CreditsButton.svg"></a>
    </nav>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>