<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Mapa</title>
</head>
<body>
    <nav class="upbar">
        <div class = "info">
            <a class="buttons" href="#home"><img src="../static/assets/timetable/InfoButton.svg"></a>
            <h1 class="name">Mapa SPŠSE</h1>
        </div>
        
        <div class = "info">
            <h2 style="margin-right: 3vh;" id="time" class="datetime"></h2>
            <h2 style="margin-right: 3vh;" id="date" class="datetime"></h2>
            <a class="buttons" href="#home"><img src="../static/assets/timetable/RefreshButton.svg"></a>
        </div>
    </nav>

    <div>        
        <div class="center-container">
            <div class="map-static">
                <div id="patro0" style="display: none;">
                    <img src="../static/assets/mapa/patro0.jpg" style="width: 100vh;">
                </div>
                <div id="patro1" style="display: block;">
                    <img src="../static/assets/mapa/patro1.jpg" style="width: 100vh;">
                </div>
                <div id="patro2" style="display: none;">
                    <img src="../static/assets/mapa/patro2.jpg" style="width: 100vh;">
                </div>
                <div id="patro3" style="display: none;">
                    <embed src="../static/assets/mapa.svg" type="image/svg+xml" style="width: 100vh;">
                </div>
            </div>

            <div class="map-scrollable" style="width:90%;height:90%;overflow-x: scroll; overflow-y: scroll; margin: 5%;">
                <embed src="../static/assets/mapa.svg" type="image/svg+xml" style="min-width: 2000px;">
            </div>

            <div class="patra-container">
                <h1 style="font-size: 4.5vh; margin-bottom: 2vh;">Patra:</h1>
                <button onclick="showFloor(4)" class="patro">
                    <div class="patro-number">3</div>
                    <div style="width: 1vh;"></div> <!-- Menší mezera -->
                    <div>patro</div>
                </button>
                <button onclick="showFloor(3)" class="patro">
                    <div class="patro-number">2</div>
                    <div style="width: 1vh;"></div> <!-- Menší mezera -->
                    <div>patro</div>
                </button>
                <button onclick="showFloor(2)" class="patro">
                    <div class="patro-number">1</div>
                    <div style="width: 1vh;"></div> <!-- Menší mezera -->
                    <div>patro</div>
                </button>
                <button onclick="showFloor(1)" class="patro">
                    <div class="patro-number">0</div>
                    <div style="width: 1vh;"></div> <!-- Menší mezera -->
                    <div>přízemí</div>
                </button>
                <button onclick="showFloor(0)" class="patro">
                    <div class="patro-number">-1</div>
                    <div style="width: 1vh;"></div> <!-- Menší mezera -->
                    <div>šatny</div>
                </button>
                <div style="height: 12vh;"> </div> <!--div pro srovnání -->
            </div>
        </div>
    </div>

    <nav class="downbar">
        <div></div>
        <div style="display: flex; flex-direction: row;">
            <a class="downbar-button" onclick="showMenu('teachers')"><img src="../static/assets/timetable/TeachersButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('classes')"><img src="../static/assets/timetable/ClassesButton.svg"></a>
            <a class="downbar-button" onclick="showMenu('rooms')"><img src="../static/assets/timetable/RoomsButton.svg"></a>
        </div>
        <a style="display: flex; height: 9vh; margin-right: 1vh;" href="#home"><img src="../static/assets/timetable/CreditsButton.svg"></a>
    </nav>

    <script src="script.js"></script>
</body>
</html>